body.application {
  overflow: hidden;
  zoom: 60%;
}

div[id^="slider-1-chart-"] {
  height: 250px;
}

div[id^="slider-1-legend-"] > li {
  display: inline-block;
  padding: .25em .5em
}

div[id^="slider-1-legend-"] > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}
